<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding useActiveDirectory="false">
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="SchneiderServices.Implementations.CalculatorService" 
               behaviorConfiguration="metadataBehavior">
        <endpoint address="http://localhost:9090/SchneiderServices/CalculatorService"
                  binding="basicHttpBinding"
                  contract="SchneiderServices.Contracts.ICalculator"></endpoint>
        <endpoint address="net.tcp://localhost:9091/SchneiderServices/CalculatorServiceOnTcp"
                  binding="netTcpBinding"
                  contract="SchneiderServices.Contracts.ICalculator"></endpoint>
        <endpoint address="net.pipe://localhost/CalculatorService"
                  binding="netNamedPipeBinding"
                  contract="SchneiderServices.Contracts.ICalculator"></endpoint>
        
        <endpoint address="http://localhost:9090/SchneiderServices/AdvancedCalculatorService"
                  binding="basicHttpBinding"
                  contract="SchneiderServices.Contracts.IAdvancedCalculator"></endpoint>

        <endpoint address="net.msmq://localhost/private/SchneiderQueue"
                  binding="netMsmqBinding"
                  contract="SchneiderServices.Contracts.IAdvancedCalculatorProcessor"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>