<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9091/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFChatApp.Implementations.ChatService" behaviorConfiguration="metadata">
        <endpoint address="net.tcp://localhost:9090/ChatService"
                  binding="netTcpBinding"
                  contract="WCFChatApp.Contracts.IChatService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>