<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
                <binding name="BasicHttpBinding_IAdvancedCalculator" />
            </basicHttpBinding>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IAdvancedCalculatorProcessor">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICalculator" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/SchneiderServices/CalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="ServiceProxies.ICalculator" name="BasicHttpBinding_ICalculator" />
            <endpoint address="net.tcp://localhost:9091/SchneiderServices/CalculatorServiceOnTcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculator"
                contract="ServiceProxies.ICalculator" name="NetTcpBinding_ICalculator">
                <identity>
                    <userPrincipalName value="ALTEREGO-DUO\Magesh" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/CalculatorService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ICalculator" contract="ServiceProxies.ICalculator"
                name="NetNamedPipeBinding_ICalculator">
                <identity>
                    <userPrincipalName value="ALTEREGO-DUO\Magesh" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9090/SchneiderServices/AdvancedCalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdvancedCalculator"
                contract="ServiceProxies.IAdvancedCalculator" name="BasicHttpBinding_IAdvancedCalculator" />
            <endpoint address="net.msmq://localhost/private/SchneiderQueue"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IAdvancedCalculatorProcessor"
                contract="ServiceProxies.IAdvancedCalculatorProcessor" name="NetMsmqBinding_IAdvancedCalculatorProcessor" />
        </client>
    </system.serviceModel>
</configuration>